<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="cn" connectionString="server=JASON-PC\SQLEXPRESS;database=bdCentenario;UID=sa;PWD=mysql" />
    <add name="capaPresentacion.My.MySettings.bdCentenarioConnectionString"
      connectionString="Data Source=JASON-PC\SQLEXPRESS;;Initial Catalog=bdCentenario;User ID=sa;Password=mysql"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>